section.catalog-main
  h2.visually-hidden Каталог основной продукции
  .catalog-main__wrapper
    .catalog-main__list.products
      each item in catalogObj
        article(class="products__item " + item["classMain"] + " " + item["classLastBlocks"])
          .products__wrapper
            picture
              source(type="image/webp" media="(min-width:768px)" srcset="img/" + item["nameImg"] + "-tablet-desktop.webp 1x, img/" + item["nameImg"] + "-tablet-desktop@2x.webp 2x")
              source(type="image/webp" srcset="img/" + item["nameImg"] + "-mobile.webp 1x, img/" + item["nameImg"] + "-mobile@2x.webp 2x")

              source(media="(min-width:768px)" srcset="img/" + item["nameImg"] + "-tablet-desktop.png 1x, img/" + item["nameImg"] + "-tablet-desktop@2x.png 2x")
              img(class="products__image " + item["classImg"]   src="img/" + item["nameImg"] + "-mobile.jpg" srcset="img/" + item["nameImg"] + "-mobile@2x.jpg 2x" alt=item["alt"] width=item["width"] height=item["height"])

            .products__property
              h3.products__title=item["title"]
              table.products__table
                tr.products__table-row
                  td.products__name-property Объем
                  td.products__value-property=item["volume"]
                tr.products__table-row
                  td.products__name-property Вкус
                  td.products__value-property=item["taste"]
                tr.products__table-row
                  td.products__name-property Цена
                  td.products__value-property=item["price"]
          a(class="products__link button" href="form.html") Заказать
      article.products__show-all
        .products__show-all-wrapper
          button(class="products__button-plus" type="button")
            span.visually-hidden Показать товар
          h3.products__subtitle Показать еще 100500 товаров
          p.products__subtext На самом деле вкусов гораздо больше!
          button(class="products__button-show-all button") Показать все
